@import "../../css/constants";

.CardTitle {
  height: 58px;
  display: flex;
  align-items: center;
}

.CardTitle_critical {
}

.CardTitle-Icon {
  width: 48px;
  height: 48px;
  margin-right: $desktop-margin;
}

.CardTitle-Text {
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

.CardTitle_critical .CardTitle-Text {
  color: #fff;
}

@media ($media-mobile-to) {
  .CardTitle {
    height: initial;
  }

  .CardTitle-Icon {
    width: 35px;
    height: 35px;
    margin-right: $mobile-margin;
  }

  .CardTitle-Text {
    font-size: 14px;
  }
}