@import "../../css/constants";

.normal {
  border-radius: 8px;
  background-color: #e5e5e5;
  line-height: 54px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  padding: 0 10px;
  box-sizing: border-box;
}

.active {
  composes: normal;
  background-color: #ffd93e;
}

.normal:not(:last-child) {
  margin-right: 18px;
}

@media ($media-tablet-to) {
  .normal {
    line-height: 44px;
  }
}