.normal {
  padding: 5px;
  border-radius: 5px;
  position: fixed;
  //top: 0;
  //left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(50, 50, 50, 0.4);
  animation: show 1s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  z-index: 4;
  width: 270px;
  font-size: 12px;
}

.line {
  display: flex;
  justify-content: space-between;
}

.text {
  color: #fff;
  user-select: none;
  font-size: 12px;
}

.button {
  margin-top: 2px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: #979797;
  text-align: center;
  cursor: pointer;
  user-select: none;
}

@keyframes show {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}