@import "../../css/constants";

.Content {
  flex-grow: 1;
  margin: 0 auto;
  padding: 0 40px 80px;
}

.Content-Header {
  font-weight: bold;
  font-size: 36px;
  color: #333;
  line-height: 110px;
}

@media ($media-mobile-to) {
  .Content {
    margin-top: 70px;
    grid-gap: 16px;
    padding-top: 20px !important;
  }

  .Content-Header {
    line-height: initial;
    font-size: 24px;
    padding-bottom: 20px;
  }
}

/* 4 один столбик узкие отступы, динамическая ширина */
@media ($media-tablet-to) {
  .Content {
    padding: 0 20px 20px;
  }
}