@import "../../css/constants";

.Card_small {
  grid-column: span 2;
}

.Card_medium {
  grid-column: span 3;
}

.Card_large {
  grid-column: span 4;
  grid-row: span 3;
}

.Card {
  background-color: #fafafa;
  border-radius: $border-radius;
  padding: $desktop-margin;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.Card:hover {
  background-color: #f3f3f3;
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}

.Card:hover .Card-Action {
  opacity: 1;
}

.Card-Action {
  position: absolute;
  opacity: 0;
  transition: opacity 0.3s;
  right: 15px;
  cursor: pointer;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: inherit;
  z-index: 1; /* для перебития transform в данных пылесоса */
}

.Card_critical .Card-Action_cross {
  background-image: url("../Card/img/cross-white.svg");
  background-color: #d44c3a;
}

.Card-Action_cross {
  background-image: url("../Card/img/cross.svg");
  top: 15px;
}

.Card-Action_next {
  background-image: url("../Card/img/next.svg");
  bottom: 15px;

  /* box-shadow: #d8d8d8 -2px -2px 20px; */
}

.Card_critical .Card-Header {
  background-color: #db5341;
  margin: (-$desktop-margin) (-$desktop-margin) 0 (-$desktop-margin);
  padding: $desktop-margin $desktop-margin $desktop-margin * 2 $desktop-margin;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  transition: background-color 0.3s;
}

.Card_critical:hover .Card-Header {
  background-color: #d44c3a;
}

.Card_critical .Card-Header div {
  color: #fff;
}

.Card_critical .Card-Description {
  margin-top: initial;
}

.Card-Header {
}

.Card-Content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.Card_critical .Card-Content {
  background: inherit;
  margin: -$desktop-margin;
  padding: $desktop-margin;
  border-radius: $border-radius;
}

.Card-Description {
  margin-top: 25px;
  font-size: 20px;
}

.Card-Description_big {
  font-size: 24px;
  color: #333;
}

.Card-Data {
  margin-top: auto;
  padding-top: 25px;
}


@media ($media-mobile-to) {
  /* Действия прибиываем к краю */
  .Card-Action {
    right: 10px;
  }

  .Card-Action_cross {
    top: 10px;
  }

  .Card-Action_next {
    bottom: 10px;
  }

  /* Уменьшаем отступы у карточки */
  .Card {
    padding: $mobile-margin;
  }

  .Card_critical .Card-Header {
    margin: (-$mobile-margin) (-$mobile-margin) 0 (-$mobile-margin);
    padding: $mobile-margin $mobile-margin $mobile-margin * 2 $mobile-margin;
  }

  .Card_critical .Card-Content {
    margin: -$mobile-margin;
    padding: $mobile-margin;
  }

  .Card-Description {
    font-size: 18px;
    color: #333;
  }
}

/* 4 один столбик узкие отступы, динамическая ширина */
@media ($media-desktop1-to) {
  .Card_small,
  .Card_medium {
    grid-column: span 4;
  }
}

/* 8 широкоформатный режим */
@media ($media-desktop3-at) {
  .Card_medium {
    grid-column: span 4;
  }
}