$desktop-margin: 20px;
$mobile-margin: 16px;
$border-radius: 20px;

$media-mobile-to: "max-width: 559px";

$media-tablet-to: "max-width: 789px";

$media-desktop1-at: "min-width: 790px";
$media-desktop1-to: "max-width: 1139px";

$media-desktop2-at: "min-width: 1140px";
$media-desktop2-to: "max-width: 1489px";

$media-desktop3-at: "min-width: 1490px";
