@import "../../css/constants";

.AudioPlayer {

}

.AudioPlayer-Image {
  width: 52px;
  height: 52px;
}

.AudioPlayer-Line {
  display: flex;
  align-items: center;
}

.AudioPlayer-Line_top {
  flex-grow: 1;
  height: 52px;
}

.AudioPlayer-Line_bottom {
  margin-top: $desktop-margin;
  flex-grow: 1;
}

.AudioPlayer-Title {
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.AudioPlayer-Top {
  margin-left: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 0; /* Для троеточия на title */
}

.AudioPlayer-Line_songPlayer {
  height: 20px;
}

.AudioPlayer-SongPlayer {
  line-height: 20px;
  height: 1px;
  background-color: #979797;
  flex-grow: 1;
  position: relative;
}

.AudioPlayer-SongPlayerValue {
  position: absolute;
  top: -10px;
  left: 10%;
  width: 9px;
  height: 20px;
  background: #d8d8d8;
  border-radius: 4.5px;
  cursor: pointer;
}

.AudioPlayer-Control {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  cursor: pointer;
}

.AudioPlayer-Control_forward {
  transform: rotate(180deg);
  margin-left: 27px;
}

.AudioPlayer-Info {
  font-size: 14px;
  margin-left: 15px;
  color: rgba(161, 161, 161, 0.84);
}

.AudioPlayer-Volume {
  flex-grow: 1;
  height: 4px;
  background-color: rgba(216, 216, 216, 0.3);
  margin: 0 0 0 15px;
  position: relative;
}

.AudioPlayer-VolumeValue {
  position: absolute;
  top: -6px;
  left: calc(80% - 8px);
  width: 17px;
  height: 17px;
  background-color: #605757;
  border-radius: 50%;
  cursor: pointer;
}

@media ($media-mobile-to) {
  .AudioPlayer-Line_bottom {
    margin-top: $mobile-margin;
  }

  .AudioPlayer-Title {
    font-size: 18px;
  }

  .AudioPlayer-Forward {
    margin-left: 20px;
  }
}